doctype html
html
    head
        meta(charset="utf-8")
        title= Paginator
        style(type='text/css').
            .pages {
                color: darkolivegreen;
                cursor: pointer;
            }
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")

        script(type='text/javascript', src='meanpag.js')
        script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js")
        script(type='text/javascript', src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
        script(type='text/javascript', src='demoUserPagination.js')
    body
        div
            include users/index