h1 Users
ul.searchOptions
    li
        | User name:
        input#name(type="text" name="name" placeholder="First/Last Name")
    li.statesHolder
        | State:
    li.zipHolder
        | Zip code:
        input#zip(type="text" name="zip" placeholder="12345" value="")
    li.ageHolder
        | Age:
        input#age(type="text" title="User age" placeholder="Age")
    li.phonesHolder
        | Phone #:
        input#phone(type="tel" title="Phone #" placeholder="(123)456-7890")
    li
        button#search(type="button") Search
ul.paginationFilter
table.users.table.table-condenced.table-striped.table-bordered.table-hover
    thead
        tr
            th First Name
            th Last Name
            th Description
            th Created At
            th Address
            th Phones
            th ID
    tbody.usersBody
